################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AuthorizePolicy/.vs/AuthorizePolicy/v15/Server/sqlite3
